.h {
    font-family: Helvetica, sans-serif;
}

.head {
    font-size: 40px;
    color: rgb(50, 0, 200);
}

.list {
    font-weight: bold;
    font-size: 22px;
}

h1 {
    text-align: center;
}

p {
    background-color: yellow;
}
